<manifest package="com.romulo.pokedex" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pokeball"
        android:label="PokeDex"
        android:roundIcon="@drawable/ic_pokeball"
        android:theme="@style/Theme.PokeDex">

        <activity android:name=".ui.detail.DetailActivity" />
        <activity android:name=".ui.main.MainActivity" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
